vscode-userdata:/home/mcliff/.config/Code%20-%20OSS/User/globalStorage/tboby.cwtools-vscode/.cwtools/ck3.cwb
vscode-userdata:/home/mcliff/.config/Code%20-%20OSS/User/globalStorage/tboby.cwtools-vscode/.cwtools/ck3